$header:85vh;
@import 'menu';
.trieggos{
  overflow: hidden;
}
.navigation{
  position: absolute;
  left:0px;
  width:100vw;
  top:20px;
  height:5em;
  background-color: transparent;
  color:white;
  z-index: 50000000000;
  .collapsed *{
    height:0px;
    opacity:0;
    transition: all .25s;
    transition-property: height,opacity;
  }
  @media(max-width: 600px){
    top:0px;
  }
  .restaurant_logo{
    font-family: 'Great Vibes',cursive;
    position: absolute;
    left:10px;
    font-size: 2.5em;
    top:-10px;
    @media(max-width: 600px){
      top:15px;
    }
  }
  ul{
    float:right;
    li:nth-child(4){
      list-style:none !important;
    }
    li{
      float:right;
      margin-right:3em;
      cursor: pointer;
      &:hover{
        color:lightgray;
        transition: all .25s;
      }
    }
      @media(max-width: 600px){
        padding-top:0em;
        padding-left: 0em;
        margin-right:5em;
        li{
          float:none;
          list-style: none;
          height:10vh;
          width:60vw;
          padding-left:1.5em;
          line-height: 4em;
          color:#fff;
          z-index: 200;
          text-align: right;
          padding-right:2em;
          margin-right: 0px;
        }
      }
  }
  .nav_clicked{
    background-color:#000;
  }
  .nav_mobile,.nav_mobile_opacity{
    @media(min-width: 600px){
      display: none;
      width:50vw;
    }
  }
  .nav_mobile_btn{
    position: absolute;
    right:15px;
    top:12px;
    width:10vw;
    display: block;
    color:#fff;
    div{
      font-size:2.5em;
    }
  }
  .nav_mobile{
    position: relative;
    top:10vh;
    right:0px;
    margin-right:0px;
  }
  .nav_mobile_opacity{
    background-color:black;
    opacity: .5;
    height:100%;
    right:0px;
    width:100%;
    position: absolute;
    z-index: -1;
  }
  .nav_full{
    @media(max-width: 600px){
      display: none;
    }
  }
}
.cornucopia{
  height:$header;
  width:100vw;
  background-image:url('./images/Pomodori.jpg');
  background-position: center;
  background-size:cover;
  position: relative;
}
.header_bkg{
  height:100vh;
}
.cornucopia_opacity{
  height:$header;
  width:100vw;
  background-color: #000;
  opacity: .5;
  position: absolute;
  top:0px;
}
.site_title{
  margin:auto;
  position: absolute;
  top:30vh;
  .restaurant_name,.restaurant_subtitle{
    width:100vw;
    text-align: center;
    color:#fff;
    transition:transform .25s;
  }
  .restaurant_name{
    font-size:8.5em;
    font-family:'Great Vibes',cursive;
    margin-top:.5em;
    opacity:0;
    transition-property:margin-top, opacity;
      @media(max-width: 600px){
        font-size:6.5em;
      }
  }
  .restaurant_subtitle{
    font-family:'Ubuntu',sans-serif;
    font-size:2.5em;
    position: absolute;
    top:4em;
    margin-top:2em;
    opacity:0;
    transition-property:margin-top, opacity;
      @media(max-width: 600px){
        font-size: 2em;
      }
  }
  .restaurant_name_repositioned{
    opacity:1;
    margin-top:0em;
  }
}
.cream_divider{
  height:50vh;
  width:100vw;
  background-color:#f6f4f1;
  position: relative;
  @media(max-width:600px){
    height:150vh;
  }
}
.about{
  position:absolute;
  left:16.5vw;
  width:66vw;
  height:60vh;
  top:-5vh;
  z-index: 2;
  h1{
    font-family:'Italianno',cursive;
  }
  @media(max-width:600px){
    top:0;
    position: relative;
    width:100vw;
    left:0px;
    height:100vh;
  }
}
.about_col{
  height:50%;
  position: relative;
  @media(max-width:600px){
    height:75vh;
    .about_1{
      height:50vh;
    }
    .about_2{
      height:25vh;
    }
    .about_3{
      height:25vh;
      // display:none;
      position: absolute;
      bottom:0px;
        @media(max-width: 600px){
          display: none;
        }
    }
    .about_4{
      height:50vh;
      position: absolute;
      top:0px;
        @media(max-width: 600px){
          height:75vh;
        }
    }
  }
}
.about_col>div{
  display:inline-block;
  position: absolute;
  margin-top:3em;
  opacity: 0;
  text-align: center;
  height:100%;
  padding:15px 25px;
  transition:transform .25s;
  transition-property:margin-top, opacity;
  @media(max-width:600px){
    width:100%;
    position: relative;
  }
  p{
    font-size: .85em;
    font-family: 'Arial', sans-serif;
    color:gray;
  }
  *{
    height:30%;
  }
}
.about_box_animate_up{
  margin-top:0em !important;
  opacity:1 !important;
}
.about_header{
  font-size:3em;
  font-weight:bold;
  font-family: 'Italianno',cursive;
}
.about_1{
  width:33.33%;
  background-color:#fff;
  // top:0px;
  left:0px;
}
.about_2{
  width:66.66%;
  background-image:url('./images/Empty+Patio.jpg');
  background-size: cover;
  // top:0px;
  right:0px;
}
.about_3{
  width:33.33%;
  background-image:url('./images/pellegrino.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px -45px;
  // top:0px;
  left:0px;
}
.about_4{
  width:66.66%;
  background-color:#fff;
  // top:0px;
  right:0px;
}
.book_btn{
  font-family: 'Ubuntu', sans-serif;
  border:1px solid #825512;
  color: #825512;
  padding-top:.65em;
  width:85%;
  height:20% !important;
  margin:auto;
  margin-top:1.65em;
  cursor: pointer;
  &:hover{
    background-color:#af9e86;
    color:white;
    transition: all .5s;
  }
    @media(max-width: 600px){
      padding-top: 1.25em;
    }
}
.our_specialties{
  height:40vh;
  transition:transform .5s;
  overflow: hidden !important;
  transition-property:height;
  .specialties_parallax{
    height:80vh;
    position: relative;
    text-align: center;
    .specialties_opacity{
      height:60vh;
      width:100vw;
      background-color: #000;
      opacity: .5;
    }
  }
  @media(max-width: 600px){
    // display: none;
    height:20vh;
  }
}
.our_specialties_expanded{
  height:60vh;

  @media(max-width: 600px){
    // display: none;
    height:20vh;
  }
}
.our_specialties_text{
  width:100vw;
  font-family:'Ubuntu',sans-serif;
  color:#fff;
  font-size:2.5em;
  position: absolute;
  top:5.5em;
    @media(max-width: 600px){
      top:.5em;
      font-size: 2em;
      margin-top:1em;
    }
}
.menu{
  overflow: hidden;
}
.cream_divider2{
  // height:38vh;
  height:265px;
  width:100vw;
  background-color:#f6f4f1;
  position: relative;
  @media(max-width: 600px){
    height:100vh;
    .about_5,.about_7,.about_10,.about_12{
      height:25vh;
      width:100vw;
      left:0px;
    }
    .about_6,.about_8,.about_9,.about_11{
      display: none;
    }
  }
}
.specialties_header, .specialties_price{
  font-family: 'Ubuntu',sans-serif;
}
.specialties_header div{
  font-family: 'Ubuntu',sans-serif;
}
.specialties_header{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.clearfix:after{
  content:'';
  display:table;
  clear:both;
}
.specialties_price{
  // margin-top:1.5em;
  padding-top:1em;
  color: #b7a15f;
}
.about2{
  position:absolute;
  left:16.5vw;
  width:66vw;
  height:60vh;
  top:-5vh;
  z-index: 2;
  h1{
    font-family:'Italianno',cursive;
  }
  @media(max-width: 600px){
    left:0px;
    height:100vh;
    top:0px;
  }
}
.about_col2{
  height:40%;
  position: relative;
  @media(max-width: 600px){
    height:50vh;
  }
}
.about_col2>div{
  display:inline-block;
  position: absolute;
  opacity: 1;
  width:25%;
  text-align: center;
  height:100%;
  transition:transform .25s;
  // transition-property:margin-top, opacity;
  p{
    font-size: .85em;
    font-family: 'Arial', sans-serif;
    color:gray;
    padding-top:.5em;
  }
  *{
    height:30%;
  }
  &>div{
    position: relative;
    height:100%;
  }
  @media(max-width: 600px){
    position: relative;
  }
}
.about_5 .inner, .about_7 .inner, .about_10 .inner, .about_12 .inner{
  background-color:#fff;
  padding:10px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.about_5 .inner, .about_6 .inner, .about_7 .inner, .about_8 .inner{
  opacity: 0;
}
.inner{
  position: absolute;
  width:100%;
  height:100% !important;
  background-position: center;
  background-size: cover;
  // opacity: 0;
}
.inner_repositioned{
  left:0px !important;
  bottom:0px !important;
  transition: transform .65s;
  transition-property: left, bottom, opacity;
  opacity: 1 !important;
}
$scale:35%;
.about_5{
  .inner{
    left:-$scale;
    bottom:$scale;
  }
}
.about_6{
  left:25%;
  .inner{
    background-image:url(./images/baricole.jpeg);
    bottom:-$scale;
  }
}
.about_7{
  left:50%;
  .inner{
    left:($scale);
    bottom:$scale;
  }
}

.about_8{
  left:75%;
  .inner{
    background-image:url(./images/spaghetti.jpg);
    bottom:-$scale;
  }
}
.about_9{
  .inner{
    background-image:url(./images/lasagna.jpg);
  }
}
.about_10{
  left:25%;
}
.about_11{
  left:50%;
  .inner{
    background-image:url(./images/eggplant.jpg);
  }
}
.about_12{
  left:75%;
}

.table_view{
  height:60vh;
  width:100vw;
  position: relative;
  @media(max-width: 600px){
    display:none;
  }
  // background-image:url('./images/table-on-ten-bloomsville-new-york-tout.jpg');
}
.table_view_parallax{
  height:100vh;
  z-index: 60000000000;
}

.pizza{
  position: absolute;
  top:100px;
  z-index: 50000;
  width:200px;
  transition-property:opacity;
  -webkit-transition-property:opacity;
  transition: all .65s;
}
.fusilli{
  position: absolute;
  top:50px;
  right:0px;
  width:150px;
  transition-property:opacity;
  -webkit-transition-property:opacity;
  transition:all .65s;
}
.pizza,.fusilli,.uncooked_pasta{
  @media(max-width: 600px){
    width:20vw;
  }
}
.uncooked_pasta{
  position: absolute;
  top:750px;
  right:0px;
  width:200px;
  transition-property:opacity;
  -webkit-transition-property:opacity;
  transition:all .65s;
    @media(max-width: 600px){
      width:20vw;
    }
}


.menu_col{
  @media(max-width: 600px){
    .menu_item{
      width:100%;
    }
  }
}
